<div id="alert" class="section">
    <h2>Alert modal with default options</h2>
    <p>
        Here is an example of alert modal with defaults options :
        <ul>
            <li><code>data-message</code> contains the message displayed in the popin.</li>
            <li><code>data-modal</code> is set to alert. This means the plugin confirmModal is bind automatically on this popin.</li>
            <li><code>data-target</code> is not set. The button will use the default container <code>alertModalContainer</code> (which is rendered by default as we use the <code>AlazjjSimpleBootstrapBundle::base.html.twig</code> template).</li>
        </ul>
    </p>
    <p>
        <button data-modal="alert"
                 data-message="Hello world! This is a silly example!">
            Hello
        </button>

    </p>
</div>