{% extends 'DemoSimpleBootstrapBundle:Modal::base.html.twig' %}

{% block sidebar %}
    <li class="">
        <a href="#simple">
            <i class="icon-chevron-right"></i>
            Simple modal
        </a>
    </li>
    <li class="">
        <a href="#confirmation">
            <i class="icon-chevron-right"></i>
            Confirmation modal
        </a>
    </li>
    <li class="">
        <a href="#alert">
            <i class="icon-chevron-right"></i>
            Alert modal
        </a>
    </li>
{% endblock sidebar %}

{% block content %}
    <section id="simple">
        <div class="page-header">
            <h1>Simple</h1>
        </div>
        <div class="row-fluid">
        </div>
    </section>
    <section id="confirmation">
        <div class="page-header">
            <h1>Confirmation</h1>
        </div>
        <div class="row-fluid">
        </div>
    </section>
    <section id="alert">
        <div class="page-header">
            <h1>Alert</h1>
        </div>
        <div class="row-fluid">
        </div>
    </section>
{% endblock content %}
