{% extends 'AlazjjDemoSimpleBootstrapBundle:Modal:index.html.twig' %}

{% block content %}
    <h2>Confirmation modal with default options</h2>
    <p>
        You have deleted your item ! Let's go back to the <a href="{{ path('alazjj_modal_index') }}#confirmation">example</a> now !
    </p>
{% endblock content %}