<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">
        &times;
    </button>
    <h3>Lorem ipsum</h3>
</div>
<div class="modal-body">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a velit neque, nec rhoncus lectus. Cras libero
        arcu, lobortis in cursus ac, gravida at mi. Suspendisse ultricies tristique arcu, tincidunt congue nisi
        tincidunt consequat. Praesent a urna augue, et rhoncus libero. Donec ipsum ligula, euismod non mollis vitae,
        faucibus ac nisl. Donec fringilla dui aliquet elit euismod molestie. Nullam pharetra ullamcorper tortor, et
        interdum est porta nec. In odio quam, mattis non sollicitudin at, dignissim quis purus. Praesent egestas commodo
        congue. Etiam volutpat fermentum eros, ut imperdiet odio varius non. Mauris et fringilla mauris.
    </p>

    <p>
        Sed nec velit ac velit posuere vestibulum eget vitae urna. Proin ultrices, lorem id facilisis congue, ante
        tortor
        tempus turpis, ut congue erat sapien sed sem. Mauris faucibus placerat ligula, vitae laoreet neque ultrices at.
        Nam
        volutpat nunc vitae purus luctus porta. Cras ac diam nec augue adipiscing laoreet id at magna. Aenean quis
        tellus ut
        tortor imperdiet consectetur. Sed sagittis dictum adipiscing.

    </p>

    <p>
        Nulla facilisi. Ut nisl massa, pulvinar et accumsan id, interdum et risus. Quisque eros turpis, sollicitudin nec
        lacinia ac, tincidunt a nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Nullam adipiscing libero nec enim placerat mattis. Aenean sagittis molestie neque, ac aliquet purus
        hendrerit
        sed. Proin sapien elit, placerat non scelerisque in, laoreet ut erat. Nunc dictum, ante et elementum consequat,
        arcu
        eros egestas leo, id pellentesque urna nisi in mi. Aenean ullamcorper est ac lorem scelerisque dignissim. Donec
        in
        arcu nisl. Nullam lobortis blandit odio nec commodo. Nunc vitae ligula ipsum, ac euismod enim. Integer a leo
        eget
        urna congue posuere a nec odio. Quisque auctor arcu vel augue auctor porta. In in urna nibh. Vivamus tempus
        auctor
        tristique.
    </p>

    <p>
        Aliquam erat volutpat. Quisque mollis accumsan dapibus. Aliquam quis ullamcorper tellus. Phasellus cursus purus
        sed
        lacus adipiscing luctus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Suspendisse molestie justo sit amet velit suscipit tincidunt. In accumsan scelerisque tempus. Praesent ut velit
        metus. Mauris aliquet tellus quis ligula cursus congue. Integer fringilla interdum libero, sed semper libero
        faucibus ac. Sed gravida molestie erat, et aliquet orci volutpat id. Vestibulum eleifend purus in elit convallis
        lacinia. Quisque sed massa nulla, sed blandit massa. Vestibulum quis ipsum vitae felis interdum tristique.
    </p>

    <p>
        Vivamus tincidunt magna non est semper vitae pellentesque nulla viverra. Cras in libero velit, non elementum
        quam.
        Nulla in dolor arcu, non porttitor purus. Etiam odio lectus, rutrum quis viverra eget, congue laoreet felis.
        Nulla
        feugiat sem vitae arcu lacinia volutpat. Nam volutpat lacinia ipsum, sit amet congue urna vestibulum eget. Ut id
        consectetur orci. Fusce vestibulum suscipit elit, eu ultricies odio pretium vitae. Suspendisse potenti.
    </p>
</div>
<div class="modal-footer">
    <a href="#"
       class="btn"
       data-dismiss="modal">
        Close it !!
    </a>
</div>