<form data-submit="ajax"
      class="form-horizontal"
      action="{{ path('_demo_contact') }}"
      method="POST">

    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true">
            &times;
        </button>
        <h3>modal.confirm.title</h3>
    </div>

    <div class="modal-body">
        {{ form_rest(form) }}
    </div>

    <div class="modal-footer">
        <a href="#"
           class="btn"
           data-dismiss="modal">
            modal.confirm.close
        </a>
        <button
           type="submit"
           class="btn btn-primary">
            modal.confirm.validate
        </a>
    </div>
</form>