<form data-submit="ajax"
      class="form-horizontal"
      action="{{ path('alazjj_demo_create') }}"
      method="POST"
      id="{{ id }}">
    <a href="#" data-form-edit="form">Edit all fields</a>
    {{ form_rest(form) }}

    <button type="submit"
            class="btn btn-primary pull-right">
        Send it
    </button>
</form>