{% extends 'AlazjjDemoSimpleBootstrapBundle::base.html.twig' %}

{% block sidebar %}
    <li class="nav-header">Forms with default options</li>
    <li class="">
        <a href="{{ path('alazjj_form_index') }}#form1">
            <i class="icon-chevron-right"></i>
            Form 1
        </a>
    </li>
    <li class="">
        <a href="{{ path('alazjj_form_index') }}#form2">
            <i class="icon-chevron-right"></i>
            Form 2
        </a>
    </li>
{% endblock sidebar %}

{% block content %}
    <h1>Form extensions</h1>
    {% render controller("AlazjjDemoSimpleBootstrapBundle:Form:newForm") with {'id' : 'form1'} %}
    {% render controller("AlazjjDemoSimpleBootstrapBundle:Form:newForm") with {'id' : 'form2'} %}

    <script>
        $(function () {
            /*
             * Manage edition field one by one.
             */
            $('[data-form="row"]').formEditField();


            /*
             * Put a data-form-edit="form" on element to enable edition on all form fields
             */
            $('[data-form-edit="form"]').on("click", function () {
                $('[data-form="row"]').formEditField({
                    allFields: true
                });
            });
        });
    </script>
{% endblock content %}


{#
data-target="#popupContainer"

<button class="openConfirmPopup" data-target="#openConfirmContainer" data-ur
        l="{{ path('_form_contact') }}" data-message="confirm 1 ?">
    button confir 1
</button>

<button class="openConfirmPopup" data-target="#openConfirmContainer" data-m
        essage="confirm 2 ?">
    button confir 2
</button>

<button class="openAlertPopup" data-modal="alert" data-target="#openAlertContainer" data-message="alert 1 ?">
    button alert 2
</button>

<button class="openAlertPopup" data-modal="alert" data-target="#openAlertContainer" data-message="alert 2 ?">
    button alert 2
</button>
#}
